
body  {
  background-color: #FFAB76;
}

h1 {
  color: #3E8E7E;
}

h3 {
  color: #1A5F7A;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
